algoliasearch-django>=2.0,<3.0
django>=4.0.0,<4.1.0
djangorestframework
djangorestframework-simplejwt
pyyaml
requests
django-cors-headers
django-environ
numpy
pandas
apyori
sentence-transformers
psycopg2-binary==2.8.6
gunicorn==20.1.0
